
.header {
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 10px 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
  color: black;
  border-radius: 0 24px 24px 0;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none !important
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
 
}
.header__optionBasket:hover .header__basketCount {
  text-decoration: underline;
}

.header__optionBasket .header__basketCount {
  text-decoration: none !important
}

.secondHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #232f3e;
}

.link {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none !important
}
 .secondHeader .link p {
  text-decoration: none !important;
   
} 

.header_clearlink {
  text-decoration: none;
}

.menu {
  color: white;
}

@media (max-width: 768px) {
  .header__search {
    
  }

  .secondHeader {
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
  }

  .menu {
    display: block;
  }

  .link {
    display: none;
  }
}
